
<header>
    <h1>{{title}}</h1>
    <div class="links-div">
        <a href="/" class="links">Home</a>
        <a href="/about" class="links">About</a>
        <a href="/help" class="links">Help</a>
    </div> 
</header>